.admin-module{
  position: relative;
}

img{
  width: 100%;
  height: 100vh;
}

.student-wrapper{
  display: flex;
}

.admin-module .adminbutton{
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.admin-module .adminbutton:hover{
  background-color: black;
}

.admin-module .btn1{
  top:20%;
  left:14%;
}

.admin-module .btn2{
  top:20%;
  left:27%;
}

.admin-module .btn3{
  top:20%;
  left:40%;
}

.admin-module .btn4{
  top:47%;
  left:14%;
}
.admin-module .btn5{
  top:47%;
  left:28%;
}
.admin-module .btn6{
  top:47%;
  left:42%;
}
.admin-module .btn7{
  top:57%;
  left:20%;
}
.admin-module .btn8{
  top:57%;
  left:34%;
}
